
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
margin-right: 10px;
margin-left: 10px;
position: sticky;}
#logo{
  color: #6070FF;
}
.navbar ul{
  display: flex;
  list-style-type: none;
  gap: 2rem;
  color: #344563;
}
.navbar ul li:hover{
  color: #03132e;
  background-color: #c2d2ee;
  border-radius: 5px;
  border-style: groove;
}

.all{
  background-color:#f4f5f7 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
.main{
  height: 50vh;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position: center;
}
#Hi{
  font-family: Poppins;
}
#Hi h1{
  color: #091e42;
  letter-spacing: 0.37px;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  vertical-align: middle;
}
#Hi p{
  color: #344563;
  font-weight: 400;
  size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
}
#Hi h5{
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #7f8cff;
}
.social-links ul{
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-items: center;
}
.social-links li:hover{
  color: #505F79;
  background-color: #344563;
  border-radius: 5px;
  border-style: ridge;
}

.Tonic{
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 12px;
  background-color: #ffffff;
  width: 900px
}
#tonic{
display: flex;
height: 50vh;
}
#Tonic_contents{
  padding: 24px;
  font-family: Poppins;
}
#Tonic_contents h2{
font-weight: 700;
font-size: 40px;
line-height: 52px;
letter-spacing: 0%;
color: #091e42;
margin-bottom: 7px;
}
#Top1 ul{
display: flex;
align-items: center;
font-family: Poppins;
line-height: 24px;
letter-spacing: 0%;
font-size: 18px;
gap: 10px;
}
#Top1 ul p{
color: #344563;
font-weight: 500;
margin-right: 10px;
align-items: center;
margin-bottom: 16px;
}
#Top1 li{
  color: #6b778c;
  font-weight: 400;
  list-style-type: disc;
  margin-right: 10px;
}
#Tonic_contents p{
  color: #344563;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 20px;
}
#lang1 ul{
gap: 8px;
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
#lang1 li{
list-style-type: none;
font-size: 12px;
font-weight: 500;
color: #6070ff;
background-color: #ebebff;
}
.btn button{
  margin-top: 10px;
  border-radius: 8px;
  color: #396df2;
  line-height: 24px;
  font-family: Poppins;
  letter-spacing: 3%;
}
.btn:hover{
  border-style: ridge;
}

.MPS{
border: 1px #dfe1e6;
background-color: #ffffff;
font-family: Poppins;
padding: 24px;
margin: 20px, 10px;
display: flex;
align-items: center;
border-radius: 12px;
background-color: #ffffff;
width: 900px;
gap: 30px;
}
#MPS2{
height: 50vh;
margin-right: 50px;
padding: 24px;
}
#MPS1{
  letter-spacing: 0%;
}
#MPS1 h2{
  color: #091e42;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}
#MPS1 ul{
  display: flex;
  gap: 10px;
  margin-top: 5px;
  padding-top: 5px;
} 
#MPS1 ul p{
display: flex;
color: #344563;
font-size: 18px;
font-weight: 500;
padding-right: 20px;
}
#MPS1 ul li{
  color: #6b778c;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.MPS p{
  font-size: 16px;
  font-weight: 400;
  color: #344563;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
#lang2 ul{
  display: flex;
  gap: 8px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 3%;
  margin-top: 10px;
  margin-bottom: 20px;
}
#lang2 li{
  padding-right: 10px;
  margin-right: 10px;
  list-style: none;
  background-color: #ebebff;
  color: #6070FF;
  margin-bottom: 10px;
}
.MPS button{
  margin-top: 10px;
  color: #396df2;
  line-height: 24px;
  font-family: Poppins;
  letter-spacing: 3%;
}
.MPS button:hover{
  color: #03132e;
  background-color: #c2d2ee;
  border-radius: 5px;
  border-style: groove;
}
#propic{
  display: flex;
  height: 50vh;
}

.Facebook{
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 12px;
  gap: 30px;
  width: 900px;
}

#fbimg{
  display: flex;
  height: 50vh;
}

#Facebook_contents{
  font-family: Poppins;
}

#t1{
  font-family: Poppins;
}

#t1 h2{
  color: #091e42;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0%;
}

#t1 ul{
  display: flex;
  align-items: center;
  list-style-type: disc;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  gap:12px;
  margin: 8px 0px;
}

#t1 ul p{
  color: #344563;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
}

#t1 li{
  color: #6b778c;
  margin-left: 12px;
}

#Facebook_contents p{
color: #344563;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
}

#lang3 ul{
  display: flex;
  align-items: center;
  gap: 8px;
  color: #6070FF;
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 3%;
}

#lang3 li{
  border: 1px #ebebff;
  background-color: #ebebff;
}

#Facebook_contents button{
  margin-top: 10px;
  color: #396df2;
  line-height: 24px;
  font-family: Poppins;
  letter-spacing: 3%;
}

#Facebook_contents button:hover{
  color: #03132e;
  background-color: #c2d2ee;
  border-radius: 5px;
  border-style: groove;
 }


.Uber{
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 12px;
  gap: 30px;
  width: 900px;
  font-family: Poppins;
}

#Uber_contents{
  padding: 24px;
  gap: 24px;
  font-family: Poppins;
}

#U1 h2{
  color: #091e42;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0%;
}

#U1 ul{
  display: flex;
  align-items: center;
  gap: 12px;
 margin: 5px 0px;
 padding: 2.5px 0px;
}

#U1 ul p{
  color: #344563;
  font-weight: 500;
  line-height: 24px;
  font-size: 18px;
}

#U1 ul li{
color: #6b778c;
font-weight: 400;
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
margin-left: 8px;
}

#Uber_contents p{
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 5px 0px;
  padding: 2.5px 0px;
}

#lang4 ul{
  margin: 5px 0px;
  padding: 2.5px 0px;
  display: flex;
  align-items: center;
  gap: 8px;
}

#lang4 li{
  color: #6070FF;
  background-color: #ebebff;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 3%;
  line-height: 16px;
  list-style: none;
  margin: 5px 0px;
  padding: 2.5px 0px;
}

#Uber_contents button{
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 3%;
  line-height: 24px;
  font-family: Poppins;
}

#Uber_contents button:hover{
  color: #03132e;
  background-color: #c2d2ee;
  border-radius: 5px;
  border-style: groove;
 }

#uberimg{
  display: flex;
  height: 50vh;
}

.About{
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 12px;
  gap: 30px;
  width: 900px;
  font-family: Poppins;  
}

#myself{
  gap: 12px;
  font-family: Poppins;
}

#myself h2{
color: #091e42;
font-size: 40px;
font-weight: 700;
line-height: 52px;
letter-spacing: 0%;
margin: 2.5px 0px;
padding: 2.5px 0px;
}

#myself p{
color: #344563;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
margin: 2.5px 0px;
padding: 2.5px 0px;
}

#myself h5{
  color: #7f8cff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin: 10px 0px;
  padding: 5px 0px;

}

#myself ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 16px;
  margin: 2.5px 0px;
  padding: 2.5px 0px;

}

#myself li:hover{ 
  color: #03132e;
  background-color: #c2d2ee;
  border-radius: 5px;
  border-style: groove;
}

#myself button{
  margin: 2.5px 0px;
  padding: 2.5px 0px;
  color: #396df2;
  letter-spacing: 3%;
  line-height: 24px;
  font-size: 17px;
  font-weight: 500;
  font-family: Poppins;
}

#myself button:hover{
  color: #03132e;
  background-color: #c2d2ee;
  border-radius: 5px;
  border-style: groove;
}

#imgs ul{
  display: flex;
  gap: 30px
}

#imgs li{
  list-style: none;
  width: 35px;
  margin-right: 50px;
}

#languages ul{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}